{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'autenticacao/style.css' %}">
    <meta charset="UTF-8">
    <title>Editar Carro</title>
</head>
<body>
    <div class="container">
        <h2>Editar Carro</h2>
        <a href="/formulario/">Voltar ao Inicio do Formulario</a>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Salvar Alteracoes</button>
        </form>
    </div>
</body>
</html>
